body {
  background-repeat: repeat-y;
  background-size: contain;
  background-attachment: fixed;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
}
@media screen and (max-width: 480px) {
  body {
    background-image: url("../../images/background/bg_mobile.jpg");
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    background-image: url("../../images/background/bg_tablet.jpg");
  }
}
@media screen and (min-width: 769px) {
  body {
    background-image: url("../../images/background/bg_desktop.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), screen and (min-resolution: 192dpi) and (max-width: 480px), screen and (min-resolution: 2dppx) and (max-width: 480px) {
  body {
    background-image: url("../../images/background/bg_mobile@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 481px) and (max-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 481px) and (max-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 481px) and (max-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 481px) and (max-width: 768px) {
  body {
    background-image: url("../../images/background/bg_tablet@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 769px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 769px), screen and (min-resolution: 192dpi) and (min-width: 769px), screen and (min-resolution: 2dppx) and (min-width: 769px) {
  body {
    background-image: url("../../images/background/bg_desktop@2x.jpg");
  }
}
.backdrop-mobile.is-hidden-modal-header,
.backdrop-mobile.is-hidden-modal-about,
.backdrop-mobile.is-hidden-modal-product,
.backdrop-mobile.is-hidden-modal-franchise,
.backdrop-mobile.is-hidden-modal-location {
  pointer-events: none;
  opacity: 0;
}

.backdrop-mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100vh;
  opacity: 1;
  overflow-y: hidden;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-window {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 28px;
  overflow-y: scroll;
  background-color: #FFFFFF;
}

body.is-open-modal-header,
body.is-open-modal-product,
body.is-open-modal-about,
body.is-open-modal-location,
body.is-open-modal-franchise {
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 152px;
  height: 42px;
  border: none;
  border-radius: 10px;
  background-color: #F8D24E;
  font-weight: 600;
}

.btn-close-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  background-color: white;
}

.btn-close-moda__icon {
  width: 20px;
  height: 20px;
  fill: #000000;
}

.btn-long-arrow {
  position: absolute;
  bottom: 0;
  width: 56px;
  height: 22px;
  border: none;
  background-color: transparent;
}
.btn-long-arrow--margin-bottom-hero {
  margin-bottom: 32px;
  margin-left: 176px;
}
.btn-long-arrow--margin-bottom-product {
  margin-bottom: 16px;
}
.btn-long-arrow:hover, .btn-long-arrow:focus {
  cursor: pointer;
}

.btn-long-arrow__svg {
  width: 40px;
  height: 16px;
}
.btn-long-arrow__svg--color {
  fill: #FFFFFF;
}

.section-header-hero {
  position: relative;
  background-color: #84A178;
}
@media screen and (max-width: 450px) {
  .section-header-hero {
    min-height: 502px;
  }
}
@media screen and (min-width: 451px) and (max-width: 768px) {
  .section-header-hero {
    min-height: 415px;
  }
}

.logo {
  display: inline-block;
  width: 48px;
  height: 44px;
  margin-top: 14px;
  background-image: url("../../images/logo.png");
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .block-nav {
    display: none;
  }
}
@media screen and (min-width: 1001px) {
  .block-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-menu {
  position: absolute;
  z-index: 5;
  top: 60px;
  right: 100%;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #84A178;
  -webkit-transition: 250ms -webkit-transform linear;
  transition: 250ms -webkit-transform linear;
  transition: 250ms transform linear;
  transition: 250ms transform linear, 250ms -webkit-transform linear;
}

.mobile-menu.is-open {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 250ms -webkit-transform linear;
  transition: 250ms -webkit-transform linear;
  transition: 250ms transform linear;
  transition: 250ms transform linear, 250ms -webkit-transform linear;
}

.btn-menu.is-open {
  -webkit-transform: translateX(196px);
          transform: translateX(196px);
  -webkit-transition: 250ms -webkit-transform linear;
  transition: 250ms -webkit-transform linear;
  transition: 250ms transform linear;
  transition: 250ms transform linear, 250ms -webkit-transform linear;
}

.mobile-nav__list {
  margin-top: 40px;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .mobile-nav__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.mobile-nav__navigation {
  display: block;
  position: relative;
  color: #FCFCFC;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__navigation:hover {
  color: #131313;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mobile-nav__navigation {
    font-size: 48px;
  }
}

.mobile-nav__active-page {
  color: #131313;
}

.mobile-menu-btn {
  margin-top: 114px;
  margin-left: auto;
  margin-right: auto;
}
.mobile-menu-btn:hover {
  cursor: pointer;
  background-color: #0A8817;
}
.mobile-menu-btn:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}
.mobile-menu-btn:focus .mobile-menu-btn__svg {
  fill: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    position: absolute;
    right: -100%;
    top: -60px;
    margin-top: 24px;
    margin-right: 32px;
  }
}

.mobile-menu-btn__svg {
  width: 12px;
  height: 12px;
  margin-left: 4px;
}

.btn-menu {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 2;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .btn-menu {
    top: 29px;
    right: 216px;
    -webkit-transition: 250ms -webkit-transform linear;
    transition: 250ms -webkit-transform linear;
    transition: 250ms transform linear;
    transition: 250ms transform linear, 250ms -webkit-transform linear;
  }
}
@media screen and (min-width: 1001px) {
  .btn-menu {
    display: none;
  }
}
.btn-menu.is-open .btn-menu__icon-menu {
  display: none;
}
.btn-menu.is-open .btn-menu__icon-cross {
  display: block;
}
.btn-menu:hover {
  cursor: pointer;
}

.btn-menu__svg {
  width: 32px;
  height: 32px;
  fill: #ffffff;
}
.btn-menu__svg .btn-menu__icon-cross {
  display: none;
}

.modal-window--header {
  height: 100vh;
}

.modal-window__header-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Seymour One;
  font-size: 16px;
  line-height: 1.5;
}

.form-modal-header__product {
  position: relative;
  width: 132px;
  height: 136px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #EFD478;
  border-radius: 0 0 15px 15px;
}
.form-modal-header__product:not(:first-child) {
  margin-top: 81px;
}
.form-modal-header__product::after {
  content: "";
  display: block;
  width: 132px;
  height: 139px;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 50%;
  pointer-events: none;
  background-image: url("../../images/products/product-ice-coffee.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #EFD478;
  -webkit-box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.form-modal-header__product:last-child {
  margin-bottom: 32px;
}
.form-modal-header__product:first-child {
  margin-top: 86px;
}
.form-modal-header__product--first {
  border: 2px solid #96AF8C;
}
.form-modal-header__product--first::after {
  background-image: url("../../images/products/product-ice-cream.png");
  background-color: #AEC6A5;
}
.form-modal-header__product--last {
  border: 2px solid #D6936D;
}
.form-modal-header__product--last::after {
  background-image: url("../../images/products/product-milkshakes.png");
  background-color: #D6936D;
}

.form-modal-header__label {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.form-modal-header__bg-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 128px;
  height: 132px;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  border-radius: 0 0 10px 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal-header__input-product:checked + .form-modal-header__bg-label {
  background-color: #EFD478;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal-header__input-product:checked + .form-modal-header__bg-label--first {
  background-color: #96AF8C;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal-header__input-product:checked + .form-modal-header__bg-label--last {
  background-color: #D6936D;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-header__input-product {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-modal-header__input,
.form-modal-header__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 224px;
  height: 32px;
  padding: 8px 12px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #84A178;
  border-radius: 10px;
  background: rgba(248, 210, 78, 0.1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.4;
}
.form-modal-header__input:hover, .form-modal-header__input:focus,
.form-modal-header__comment:hover,
.form-modal-header__comment:focus {
  cursor: pointer;
  border: 1px solid #2196F3;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-header__input {
  margin-bottom: 12px;
}

.form-modal-header__comment {
  margin-bottom: 26px;
  height: 65px;
  resize: none;
}

input:invalid {
  background-color: #fcbeae;
}

.form-modal-header__btn {
  width: 114px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  line-height: 1.25;
}

@-webkit-keyframes anim-img-cone-ice-cream-hero480 {
  from {
    -webkit-transform: scale(1) translateX(-660px) translateY(0);
            transform: scale(1) translateX(-660px) translateY(0);
  }
  50% {
    -webkit-transform: scale(1.5) translateY(-17%);
            transform: scale(1.5) translateY(-17%);
  }
  to {
    -webkit-transform: scale(1) translateX(0px) translateY(0);
            transform: scale(1) translateX(0px) translateY(0);
  }
}

@keyframes anim-img-cone-ice-cream-hero480 {
  from {
    -webkit-transform: scale(1) translateX(-660px) translateY(0);
            transform: scale(1) translateX(-660px) translateY(0);
  }
  50% {
    -webkit-transform: scale(1.5) translateY(-17%);
            transform: scale(1.5) translateY(-17%);
  }
  to {
    -webkit-transform: scale(1) translateX(0px) translateY(0);
            transform: scale(1) translateX(0px) translateY(0);
  }
}
@-webkit-keyframes anim-img-cone-ice-cream-hero320 {
  from {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
  30% {
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
  }
  60% {
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
  }
  80% {
    -webkit-transform: scale(1.3) translateY(-12%);
            transform: scale(1.3) translateY(-12%);
  }
  to {
    -webkit-transform: scale(1) translateX(50%) translateY(0);
            transform: scale(1) translateX(50%) translateY(0);
  }
}
@keyframes anim-img-cone-ice-cream-hero320 {
  from {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
  30% {
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
  }
  60% {
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
  }
  80% {
    -webkit-transform: scale(1.3) translateY(-12%);
            transform: scale(1.3) translateY(-12%);
  }
  to {
    -webkit-transform: scale(1) translateX(50%) translateY(0);
            transform: scale(1) translateX(50%) translateY(0);
  }
}
@-webkit-keyframes anim-img-cone-ice-cream-hero-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes anim-img-cone-ice-cream-hero-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes anim-img-points-hero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes anim-img-points-hero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes picture-hero-description {
  from {
    -webkit-transform: translateX(-185%);
            transform: translateX(-185%);
  }
  70% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  80% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  90% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes picture-hero-description {
  from {
    -webkit-transform: translateX(-185%);
            transform: translateX(-185%);
  }
  70% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  80% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  90% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes many-ice-cream {
  from {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes many-ice-cream {
  from {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes many-ice-cream-rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes many-ice-cream-rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media screen and (min-width: 768px) {
  .hero__upper-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 14px;
  }
}

.hero__title {
  width: 247px;
  margin-bottom: 0;
  font-family: Seymour One, sans-serif;
  font-size: 26px;
  line-height: 1.27;
  text-transform: uppercase;
  color: #FCFCFC;
}

.hero__title--last-word {
  font-size: 34px;
  line-height: 0.96;
}

.hero__btn {
  display: inline-block;
  padding: 11px 26px;
  margin-top: 32px;
  outline: 2px solid #F8D24E;
  border-radius: 8px;
  background-color: transparent;
  color: #131313;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}
.hero__btn:hover {
  cursor: pointer;
  outline: 2px solid #0A8817;
  color: #131313;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    margin-top: 24px;
  }
}

.hero__btn-link {
  margin-left: 12px;
  color: #F8D24E;
  text-decoration: underline;
}
.hero__btn-link:hover {
  cursor: pointer;
  color: #0A8817;
}
.hero__btn-link:focus {
  color: #FCFCFC;
}

.number-point {
  display: none;
}
@media screen and (min-width: 768px) {
  .number-point {
    display: block;
    margin-top: 14px;
  }
}

.number-point__trucks {
  margin-top: 20px;
}

.number-points__number {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.21;
  text-align: right;
  color: #131313;
}

.number-points__text {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #FCFCFC;
}

.picture-hero__img-point-mobile {
  display: block;
  position: absolute;
  bottom: 0;
  opacity: 0;
}
@media screen and (max-width: 450px) {
  .picture-hero__img-point-mobile {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    -webkit-animation: anim-img-points-hero 1s ease-in 2.5s both;
            animation: anim-img-points-hero 1s ease-in 2.5s both;
  }
}
@media screen and (min-width: 451px) and (max-width: 480px) {
  .picture-hero__img-point-mobile {
    right: 0;
    -webkit-animation: anim-img-points-hero 1s ease-in 2.5s both;
            animation: anim-img-points-hero 1s ease-in 2.5s both;
  }
}
@media screen and (min-width: 768px) {
  .picture-hero__img-point-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .picture-hero__img-point-tablet {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .picture-hero__img-point-tablet {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 1;
    -webkit-animation: anim-img-points-hero 1s ease-in 5.5s both;
            animation: anim-img-points-hero 1s ease-in 5.5s both;
  }
}
.picture-hero__img-point-tablet--right {
  right: 0;
}
.picture-hero__img-point-tablet--left {
  left: 0;
}

.pictures-hero__many-ice-cream {
  display: none;
}
@media screen and (min-width: 768px) {
  .pictures-hero__many-ice-cream {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;
    padding-bottom: 12px;
  }
}

.pictures-hero__many-ice-cream-animation {
  position: relative;
  z-index: 2;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-animation: many-ice-cream 2.5s linear 1.5s both;
          animation: many-ice-cream 2.5s linear 1.5s both;
}

.picture-hero__img-many-ice-cream {
  display: block;
  width: 152px;
  height: 152px;
  position: relative;
  z-index: 2;
  -webkit-animation: many-ice-cream-rotate 5s linear infinite;
          animation: many-ice-cream-rotate 5s linear infinite;
}

.pictures-hero__description {
  width: 222px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 22px;
  padding-left: 32px;
  font-size: 12px;
  line-height: 1.4;
  color: #FFFFFF;
  -webkit-animation: picture-hero-description 1.5s ease-out;
          animation: picture-hero-description 1.5s ease-out;
}

.picture-hero__img-cone-ice-cream {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
@media screen and (max-width: 451px) {
  .picture-hero__img-cone-ice-cream {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    right: 48%;
    -webkit-animation: anim-img-cone-ice-cream-hero320 2.5s linear;
            animation: anim-img-cone-ice-cream-hero320 2.5s linear;
  }
}
@media screen and (min-width: 451px) and (max-width: 480px) {
  .picture-hero__img-cone-ice-cream {
    right: 5%;
    -webkit-animation: anim-img-cone-ice-cream-hero480 2.5s linear;
            animation: anim-img-cone-ice-cream-hero480 2.5s linear;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .picture-hero__img-cone-ice-cream {
    opacity: 0;
    width: 268px;
    right: 12%;
    -webkit-animation: anim-img-cone-ice-cream-hero-opacity 1.5s linear 4s both;
            animation: anim-img-cone-ice-cream-hero-opacity 1.5s linear 4s both;
  }
}

.section-products {
  text-align: center;
}

.section-products__label-title {
  display: inline-block;
  margin-top: 60px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
}

.section-products__title {
  margin-top: 12px;
  margin-bottom: 0;
  font-family: Seymour One;
  font-size: 30px;
  line-height: 1.26;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .card-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.card-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 320px;
  min-height: 420px;
  width: 100%;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  background-color: #EFD478;
}
@media screen and (max-width: 480px) {
  .card-products:not(:first-child) {
    margin-top: 160px;
  }
}
.card-products:not(:last-child) {
  margin-right: 16px;
}
.card-products:last-child {
  margin-bottom: 60px;
}
.card-products::after {
  content: "";
  display: block;
  width: 200px;
  height: 211px;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 50%;
  background-image: url("../../images/products/product-ice-coffee.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #EFD478;
  -webkit-box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.card-products--first-card {
  background-color: #AEC6A5;
}
.card-products--first-card::after {
  background-image: url("../../images/products/product-ice-cream.png");
  background-color: #AEC6A5;
}
.card-products--last-card {
  background-color: #D6936D;
}
.card-products--last-card::after {
  background-image: url("../../images/products/product-milkshakes.png");
  background-color: #D6936D;
}
@media screen and (min-width: 768px) {
  .card-products {
    margin-bottom: 60px;
    margin-top: 180px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .card-products::after {
    background-image: url("../../images/products/product-ice-coffee@2x.png");
  }
  .card-products--first-card::after {
    content: "";
    background-image: url("../../images/products/product-ice-cream@2x.png");
  }
  .card-products--last-card::after {
    content: "";
    background-image: url("../../images/products/product-milkshakes@2x.png");
  }
}
.card-products__title {
  padding-top: 126px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.card-products__description {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 0;
  line-height: 1.76;
}

.modal-window--product {
  height: 100vh;
}

.modal-window__product-title {
  width: 142px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Seymour One;
  font-size: 16px;
  line-height: 1.5;
}

.form-modal-product {
  position: relative;
  margin-top: 181px;
}

.form-modal-product__block-nutritional-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.form-modal-product__block-nutritional-value::before {
  content: "";
  width: 132px;
  height: 139px;
  margin-bottom: 22px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../../images/products/product-modal-ice-ream.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(156, 190, 143, 0.7)), to(rgba(156, 190, 143, 0.7))), #D9D9D9;
  background: url("../../images/products/product-modal-ice-ream.png"), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  background-repeat: no-repeat;
}

.form-modal-product__nutritional-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 53px;
  height: 72px;
  border: 2px solid #9CBE8F;
  border-radius: 40px;
}
.form-modal-product__nutritional-value:not(:last-child) {
  margin-right: 9px;
}
.form-modal-product__nutritional-value p {
  margin-top: 0;
  margin-bottom: 0;
}
.form-modal-product__nutritional-value p:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  margin-bottom: 6px;
  margin-top: -2px;
  border-radius: 50%;
  border: 2px solid #9CBE8F;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  background: #9CBE8F;
  -webkit-box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}
.form-modal-product__nutritional-value p:last-child {
  font-size: 10px;
  line-height: 1.2;
}

.form-modal-product__title {
  margin-bottom: 24px;
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.form-modal-product__block-ingredient {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.form-modal-product__ingredient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 1.76;
}
.form-modal-product__ingredient p {
  margin-top: 11px;
  margin-bottom: 0;
}
.form-modal-product__ingredient:first-child p {
  margin-top: 0;
}

.form-modal-product__input,
.form-modal-product__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  height: 42px;
  padding: 8px 12px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #84A178;
  border-radius: 10px;
  background: rgba(248, 210, 78, 0.1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.4;
}
.form-modal-product__input:hover, .form-modal-product__input:focus,
.form-modal-product__comment:hover,
.form-modal-product__comment:focus {
  cursor: pointer;
  border: 1px solid #2196F3;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-product__input {
  margin-bottom: 12px;
}

.form-modal-product__comment {
  margin-bottom: 26px;
  height: 84px;
  resize: none;
}

input:invalid {
  background-color: #fcbeae;
}

.form-modal-product__btn {
  width: 132px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 1.21;
}

.section-about {
  text-align: center;
  background-color: #84A178;
}
.section-about__label-title {
  display: inline-block;
  margin-top: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #FCFCFC;
}

.section-about__title {
  width: 200px;
  margin-top: 12px;
  margin-bottom: 0;
  font-family: Seymour One;
  font-size: 30px;
  line-height: 1.27;
  text-transform: uppercase;
  color: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .section-about__title {
    width: 100%;
  }
}

.section-about__text-description {
  position: relative;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 382px;
  font-size: 12px;
  line-height: 1.76;
  color: #FCFCFC;
}
.section-about__text-description::before {
  content: "";
  width: 280px;
  height: 300px;
  position: absolute;
  top: -46%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  background: url("../../images/about-mobile.png") 0 22px, -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
  background: url("../../images/about-mobile.png") 0 22px, linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .section-about__text-description::before {
    width: 330px;
    height: 356px;
    left: -110%;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    background: url("../../images/about-tablet.png") 0 26px, -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
    background: url("../../images/about-tablet.png") 0 26px, linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media screen and (min-width: 768px) {
  .section-about__text-description {
    width: 336px;
    margin-right: 0;
    margin-top: 80px;
    text-align: left;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-about__text-description::before {
    background: url("../../images/about-mobile@2x.png") 0 22px, -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
    background: url("../../images/about-mobile@2x.png") 0 22px, linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-about__text-description::before {
    background: url("../../images/about-tablet@2x.png") 0 22px, -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
    background: url("../../images/about-tablet@2x.png") 0 22px, linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.about-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}
.about-btn:hover {
  cursor: pointer;
  background-color: #0A8817;
}
.about-btn:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}
.about-btn:focus .mobile-menu-btn__svg {
  fill: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .about-btn {
    margin-left: 0;
  }
}

.modal-window--about {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 10px;
}

.modal-window__about-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Seymour One;
  font-size: 16px;
  line-height: 1.5;
}

.modal-window__about-text {
  width: 224px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 28px;
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
}

.section-advantages {
  padding-bottom: 38px;
  padding-top: 60px;
  text-align: center;
  background-color: #84A178;
}
@media screen and (min-width: 768px) {
  .section-advantages {
    padding-top: 80px;
    padding-bottom: 204px;
  }
}

@media screen and (min-width: 768px) {
  .section-advantages__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section-advantages__item {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}
.section-advantages__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .section-advantages__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.section-advantages__item::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: #F8D24E;
  background-image: url("../../images/advantages-weight.png");
  background-repeat: no-repeat;
  background-position: center;
}
.section-advantages__item--first-item::before {
  background-image: url("../../images/advantages-cow.png");
}
.section-advantages__item--last-item::before {
  background-image: url("../../images/advantages-ice-crema.png");
}
.section-advantages__item--last-item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .section-advantages__item--last-item {
    margin-bottom: 0;
  }
}

.section-advantages__value {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  color: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .section-advantages__value {
    margin-top: 32px;
    margin-bottom: 12px;
  }
}

.section-advantages__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.7;
  color: #FCFCFC;
}

.section-galery__slider {
  margin-top: -11%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-galery__slider {
    margin-top: -20%;
  }
}

.section-galery__block-img {
  border-radius: 8px;
}

.section-customer-reviews {
  padding-bottom: 420px;
}
@media screen and (min-width: 768px) {
  .section-customer-reviews {
    padding-bottom: 360px;
  }
}

.section-customer-reviews__slider {
  width: 280px;
  height: 440px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .section-customer-reviews__slider {
    width: 705px;
    height: auto;
    margin-top: 100px;
  }
}

.container-customer-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.customer-review__block-review {
  min-height: 256px;
  padding: 35px 39px;
  margin-top: 117px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  position: relative;
  background-color: #84A178;
  font-weight: inherit;
  font-size: 12px;
  line-height: 2.55;
  color: #FCFCFC;
}
.customer-review__block-review::before {
  content: "";
  position: absolute;
  top: -117px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 85px;
  height: 85px;
  background-image: url("../../images/avatar/avatar-client2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.customer-review__block-review--first::before {
  background-image: url("../../images/avatar/avatar-client1.png");
}
.customer-review__block-review--last::before {
  background-image: url("../../images/avatar/avatar-client3.png");
}
@media screen and (min-width: 768px) {
  .customer-review__block-review {
    min-height: 138px;
    border-radius: 24px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .customer-review__block-review::before {
    background-image: url("../../images/avatar/avatar-client2@2x.png");
  }
  .customer-review__block-review--first::before {
    background-image: url("../../images/avatar/avatar-client1@2x.png");
  }
  .customer-review__block-review--last::before {
    background-image: url("../../images/avatar/avatar-client3@2x.png");
  }
}
.customer-review__text {
  margin-top: 0;
  margin-bottom: 0;
}

.customer-review__name-and-city {
  margin-top: 32px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
}

.uk-dotnav > * > * {
  width: 12px;
  height: 12px;
  background-color: #D9D9D9;
  border: none;
}

.uk-dotnav > .uk-active > * {
  background-color: #84A178;
}

* + .uk-margin {
  margin-top: 12px !important;
}
@media screen and (min-width: 768px) {
  * + .uk-margin {
    margin-top: 32px !important;
  }
}

.uk-margin {
  margin-bottom: 0;
}

.uk-dotnav > * {
  padding-left: 18px;
}

.section-contacts {
  background-color: #84A178;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section-contacts {
    padding-bottom: 40px;
  }
}

.section-contacts__block-item {
  position: relative;
  top: -360px;
  margin-bottom: -336px;
}
@media screen and (min-width: 768px) {
  .section-contacts__block-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -280px;
    margin-bottom: -240px;
  }
}

.section-contacts__item {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  font-size: 12px;
  font-weight: 500;
}
.section-contacts__item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .section-contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 16px;
  }
}
.section-contacts__item p {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .section-contacts__item {
    padding-bottom: 40px;
  }
}

.section-contacts__category {
  display: inline-block;
  padding: 4px 22px;
  margin-bottom: 20px;
  border-radius: 4px;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: #F8D24E;
}
@media screen and (min-width: 768px) {
  .section-contacts__category {
    margin-bottom: 32px;
  }
}

.section-contacts__city {
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .section-contacts__city {
    margin-bottom: 12px;
  }
}

.section-contacts__address {
  padding-bottom: 24px;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .section-contacts__address {
    width: 155px;
    padding-bottom: 32px;
  }
}

.section-contacts__link-address {
  line-height: 1.83;
  color: #D6936D;
}

.section-contacts__work-time {
  margin-top: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .section-contacts__work-time {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.section-contacts__day {
  line-height: 1.86;
}

.section-contacts__hour {
  line-height: 1.86;
  color: #ABABAB;
}
.section-contacts__hour:not(:last-child) {
  margin-bottom: 8px;
}

.section-contacts__phone {
  border-top: 1px solid #E1E1E1;
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .section-contacts__phone {
    padding-top: 32px;
  }
}

.section-contacts__link-mail,
.section-contacts__link-phone {
  color: #131313;
  text-decoration: none;
  line-height: 1.6;
}

.section-contacts__link-mail {
  padding-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .section-contacts__block-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts-btn-location {
  margin-left: auto;
  margin-right: auto;
  width: 196px;
}
.contacts-btn-location:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .contacts-btn-location:not(:last-child) {
    margin-bottom: 0;
  }
}
.contacts-btn-location:hover {
  cursor: pointer;
  background-color: #0A8817;
}
.contacts-btn-location:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}
.contacts-btn-location:focus .mobile-menu-btn__svg {
  fill: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .contacts-btn-location {
    margin-left: auto;
    margin-right: 8px;
  }
}

.contacts-btn-franchise {
  margin-left: auto;
  margin-right: auto;
  width: 196px;
  background-color: transparent;
  border: 2px solid #F8D24E;
}
.contacts-btn-franchise:hover {
  cursor: pointer;
  border: 2px solid #0A8817;
}
.contacts-btn-franchise:focus {
  border: 2px solid #0A8817;
  color: #FCFCFC;
}
.contacts-btn-franchise:focus .mobile-menu-btn__svg {
  fill: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .contacts-btn-franchise {
    margin-left: 8px;
    margin-right: auto;
  }
}

.modal-window--location {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 10px;
}

.modal-window__location-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Seymour One;
  font-size: 16px;
  line-height: 1.5;
}

.modal-window__location-map {
  width: 224px;
  height: 199px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.modal-window__location-link {
  display: block;
  width: 134px;
  margin-left: auto;
  margin-right: auto;
}

.modal-window__location-btn {
  width: 134px;
  font-size: 12px;
  line-height: 1.25;
}

.modal-window--franchise {
  top: 50%;
  border-radius: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-height: 713px) {
  .modal-window--franchise {
    height: 100%;
    border-radius: 0;
  }
}

.modal-window__franchise-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 224px;
  font-family: Seymour One;
  font-size: 16px;
  line-height: 1.5;
}

.modal-window__franchise-text {
  width: 224px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 24px;
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
  color: #131313;
}

.form-modal-franchise__input,
.form-modal-franchise__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 224px;
  height: 32px;
  padding: 8px 12px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #84A178;
  border-radius: 10px;
  background: rgba(248, 210, 78, 0.1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.4;
}
.form-modal-franchise__input:hover, .form-modal-franchise__input:focus,
.form-modal-franchise__comment:hover,
.form-modal-franchise__comment:focus {
  cursor: pointer;
  border: 1px solid #2196F3;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-franchise__input {
  margin-bottom: 12px;
}

.form-modal-franchise__comment {
  margin-bottom: 24px;
  height: 65px;
  resize: none;
}

input:invalid {
  background-color: #fcbeae;
}

.form-modal-franchise__btn {
  width: 114px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  line-height: 1.25;
}

.section-footer {
  background-color: #84A178;
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.section-footer__title {
  width: 232px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .section-footer__title {
    width: 352px;
    font-size: 26px;
    line-height: 1.23;
  }
}

.section-footer__title-big-words {
  margin-bottom: 60px;
  margin-top: 16px;
  width: 200px;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .section-footer__title-big-words {
    width: 352px;
    margin-bottom: 32px;
    font-size: 48px;
    line-height: 1.23;
  }
}

@media screen and (min-width: 768px) {
  .section-footer__block-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -ms-flex-line-pack: end;
        align-content: end;
  }
}

.section-footer__block-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.section-footer__social-link:not(:first-child) {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .section-footer__social-link:not(:first-child) {
    margin-left: 30px;
  }
}

.section-footer__social-svg {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  fill: #84A178;
  background-color: #F8D24E;
}
.section-footer__social-svg:hover, .section-footer__social-svg:focus {
  fill: #FCFCFC;
  background-color: #F8D24E;
}

.section-footer__contact-mobile {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: #131313;
}
.section-footer__contact-mobile--color-number {
  color: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .section-footer__contact-mobile {
    margin-top: 34px;
    margin-bottom: 60px;
  }
}

.section-footer__license {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 24px;
  border-top: 1px solid #E1E1E1;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #7A7A7A;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-footer__license {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.section-footer__license p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 480px) {
  .section-footer__license p {
    width: 280px;
  }
}/*# sourceMappingURL=main.css.map */