body {
  background-repeat: repeat-y;
  background-size: contain;
  background-attachment: fixed;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
}
@media screen and (max-width: 480px) {
  body {
    background-image: url("../../images/background/bg_mobile.jpg");
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    background-image: url("../../images/background/bg_tablet.jpg");
  }
}
@media screen and (min-width: 769px) {
  body {
    background-image: url("../../images/background/bg_desktop.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), screen and (min-resolution: 192dpi) and (max-width: 480px), screen and (min-resolution: 2dppx) and (max-width: 480px) {
  body {
    background-image: url("../../images/background/bg_mobile@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 481px) and (max-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 481px) and (max-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 481px) and (max-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 481px) and (max-width: 768px) {
  body {
    background-image: url("../../images/background/bg_tablet@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 769px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 769px), screen and (min-resolution: 192dpi) and (min-width: 769px), screen and (min-resolution: 2dppx) and (min-width: 769px) {
  body {
    background-image: url("../../images/background/bg_desktop@2x.jpg");
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 152px;
  height: 42px;
  border: none;
  border-radius: 10px;
  background-color: #F8D24E;
  font-weight: 600;
}

.section-header-hero {
  background-color: #84A178;
}

.logo {
  display: inline-block;
  width: 48px;
  height: 44px;
  margin-top: 14px;
  background-image: url("../../images/logo.png");
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .block-nav {
    display: none;
  }
}
@media screen and (min-width: 601px) {
  .block-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 601px) {
  .block-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.mobile-menu {
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 100%;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #84A178;
  -webkit-transition: 250ms -webkit-transform linear;
  transition: 250ms -webkit-transform linear;
  transition: 250ms transform linear;
  transition: 250ms transform linear, 250ms -webkit-transform linear;
}

.mobile-menu.is-open {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 250ms -webkit-transform linear;
  transition: 250ms -webkit-transform linear;
  transition: 250ms transform linear;
  transition: 250ms transform linear, 250ms -webkit-transform linear;
}

.mobile-nav__list {
  margin-top: 40px;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__navigation {
  display: block;
  position: relative;
  color: #FCFCFC;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__navigation:hover, .mobile-nav__navigation:focus {
  color: #131313;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav__active-page {
  color: #131313;
}

.mobile-menu-btn {
  margin-top: 114px;
  margin-left: auto;
  margin-right: auto;
}

.mobile-menu-btn__svg {
  width: 12px;
  height: 12px;
  margin-left: 4px;
}

.btn-menu {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 2;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 601px) {
  .btn-menu {
    display: none;
  }
}
.btn-menu.is-open .btn-menu__icon-menu {
  display: none;
}
.btn-menu.is-open .btn-menu__icon-cross {
  display: block;
}
.btn-menu:hover {
  cursor: pointer;
}
.btn-menu:hover .btn-menu__icon-cross, .btn-menu:focus .btn-menu__icon-cross {
  fill: #2196F3;
}

.btn-menu__svg {
  width: 32px;
  height: 32px;
}
.btn-menu__svg .btn-menu__icon-cross {
  display: none;
}

.section-header-hero {
  position: relative;
}
@media screen and (max-width: 450px) {
  .section-header-hero {
    min-height: 502px;
  }
}
@media screen and (min-width: 451px) and (max-width: 480px) {
  .section-header-hero {
    min-height: 415px;
  }
}

.hero__title {
  width: 247px;
  margin-bottom: 0;
  font-family: Seymour One, sans-serif;
  font-size: 26px;
  line-height: 1.27;
  text-transform: uppercase;
  color: #FCFCFC;
}

.hero__title--last-word {
  font-size: 34px;
  line-height: 0.96;
}

.hero__btn {
  display: inline-block;
  padding: 11px 26px;
  margin-top: 32px;
  outline: 2px solid #F8D24E;
  border-radius: 8px;
  background-color: transparent;
  color: #131313;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}
.hero__btn:hover, .hero__btn:focus {
  cursor: pointer;
  color: #FCFCFC;
}

.hero__btn-link {
  margin-left: 12px;
  color: #F8D24E;
  text-decoration: underline;
}
.hero__btn-link:hover, .hero__btn-link:focus {
  cursor: pointer;
  color: #FCFCFC;
}

@media screen and (max-width: 480px) {
  .number-point {
    display: none;
  }
}

.picture-hero__img-point {
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 450px) {
  .picture-hero__img-point {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@media screen and (min-width: 451px) and (max-width: 480px) {
  .picture-hero__img-point {
    right: 0;
  }
}

@media screen and (max-width: 480px) {
  .pictures-hero__many-ice-cream {
    display: none;
  }
}

.picture-hero__img-cone-ice-cream {
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 451px) {
  .picture-hero__img-cone-ice-cream {
    right: 48%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@media screen and (min-width: 451px) and (max-width: 480px) {
  .picture-hero__img-cone-ice-cream {
    right: 5%;
  }
}
.section-products {
  text-align: center;
}

.section-products__label-title {
  display: inline-block;
  margin-top: 60px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
}

.section-products__title {
  margin-top: 12px;
  margin-bottom: 0;
  font-family: Seymour One;
  font-size: 30px;
  line-height: 1.26;
  text-transform: uppercase;
}

.card-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 320px;
  min-height: 420px;
  width: 100%;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  background-color: #EFD478;
}
.card-products:not(:first-child) {
  margin-top: 160px;
}
.card-products:last-child {
  margin-bottom: 60px;
}
.card-products::after {
  content: "";
  display: block;
  width: 200px;
  height: 211px;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 50%;
  background-image: url("../../images/products/product-ice-coffee.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #EFD478;
  -webkit-box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.card-products--first-card {
  background-color: #AEC6A5;
}
.card-products--first-card::after {
  background-image: url("../../images/products/product-ice-cream.png");
  background-color: #AEC6A5;
}
.card-products--last-card {
  background-color: #D6936D;
}
.card-products--last-card::after {
  background-image: url("../../images/products/product-milkshakes.png");
  background-color: #D6936D;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .card-products::after {
    background-image: url("../../images/products/product-ice-coffee@2x.png");
  }
  .card-products--first-card::after {
    content: "";
    background-image: url("../../images/products/product-ice-cream@2x.png");
  }
  .card-products--last-card::after {
    content: "";
    background-image: url("../../images/products/product-milkshakes@2x.png");
  }
}
.card-products__title {
  padding-top: 126px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.card-products__description {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 0;
  line-height: 1.76;
}

.card-products__btn {
  position: absolute;
  bottom: 0;
  width: 56px;
  height: 22px;
  border: none;
  margin-bottom: 16px;
  background-color: transparent;
}
.card-products__btn:hover, .card-products__btn:focus {
  cursor: pointer;
}

.card-products__svg-btn {
  width: 40px;
  height: 16px;
}

.section-about {
  text-align: center;
  background-color: #84A178;
}
.section-about__label-title {
  display: inline-block;
  margin-top: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #FCFCFC;
}

.section-about__title {
  width: 200px;
  margin-top: 12px;
  margin-bottom: 0;
  font-family: Seymour One;
  font-size: 30px;
  line-height: 1.27;
  text-transform: uppercase;
}

.section-about__text-description {
  position: relative;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 382px;
  font-size: 12px;
  line-height: 1.76;
  color: #FCFCFC;
}
.section-about__text-description::before {
  content: "";
  width: 280px;
  height: 300px;
  position: absolute;
  top: -46%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  background: url("../../images/about.png") 0 22px, -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
  background: url("../../images/about.png") 0 22px, linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-about__text-description::before {
    background: url("../../images/about@2x.png") 0 22px, -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
    background: url("../../images/about@2x.png") 0 22px, linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.about-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.section-advantages {
  padding-bottom: 81px;
  padding-top: 60px;
  text-align: center;
  background-color: #84A178;
}

.section-advantages__item {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}
.section-advantages__item:not(:last-child) {
  margin-bottom: 32px;
}
.section-advantages__item::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: #F8D24E;
  background-image: url("../../images/advantages-weight.png");
  background-repeat: no-repeat;
  background-position: center;
}
.section-advantages__item--first-item::before {
  background-image: url("../../images/advantages-cow.png");
}
.section-advantages__item--last-item::before {
  background-image: url("../../images/advantages-ice-crema.png");
}

.section-advantages__value {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  color: #FCFCFC;
}

.section-advantages__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.7;
  color: #FCFCFC;
}

.section-galery {
  position: relative;
}

.section-galery__img-galery {
  position: absolute;
  top: -50px;
}

.section-galery__img-item {
  border-radius: 8px;
}

.section-customer-reviews {
  padding-bottom: 60px;
}

.section-customer-reviews__slider {
  width: 280px;
  height: 466px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 234px;
  border: 1px solid black;
}

.section-contacts__item {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  font-size: 12px;
  font-weight: 500;
}
.section-contacts__item:not(:last-child) {
  margin-bottom: 16px;
}
.section-contacts__item p {
  margin-top: 0;
  margin-bottom: 0;
}

.section-contacts__category {
  display: inline-block;
  padding: 4px 22px;
  margin-bottom: 20px;
  border-radius: 4px;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: #F8D24E;
}

.section-contacts__city {
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.86;
}

.section-contacts__address {
  padding-bottom: 24px;
  border-bottom: 1px solid #E1E1E1;
}

.section-contacts__link-address {
  line-height: 1.83;
  color: #D6936D;
}

.section-contacts__work-time {
  margin-top: 24px;
  margin-bottom: 24px;
}

.section-contacts__day {
  line-height: 1.86;
}

.section-contacts__hour {
  line-height: 1.86;
  color: #ABABAB;
}
.section-contacts__hour:not(:last-child) {
  margin-bottom: 8px;
}

.section-contacts__phone {
  border-top: 1px solid #E1E1E1;
  padding-top: 24px;
}

.section-contacts__link-mail,
.section-contacts__link-phone {
  color: #131313;
  text-decoration: none;
  line-height: 1.6;
}

.section-contacts__link-mail {
  padding-bottom: 6px;
}/*# sourceMappingURL=main.css.map */