.section-advantages{
    padding-bottom: 51px;
    padding-top: 60px;
    text-align: center;

    background-color: getColor('accent-color-main');

    @media screen and (max-width: 425px) {
        padding-bottom: 38px;
    }
}

.section-advantages__container{

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.section-advantages__item{
    width: 230px;
    margin-left: auto;
    margin-right: auto;

    &:not(:last-child){
        margin-bottom: 32px;
    }

    &::before{
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;

        background-color: #F8D24E;
        background-image: url('../../images/advantages-weight.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    &--first-item::before{
        background-image: url('../../images/advantages-cow.png');
    }

    &--last-item::before{
        background-image: url('../../images/advantages-ice-crema.png');
    }

    &--last-item{
        margin-bottom: 30px;
    }
}

.section-advantages__value{
    margin-top: 16px;
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    color: getColor('secondary-color-text');
}

.section-advantages__description{
    margin-top: 0;
    margin-bottom: 0;
    
    font-size: 12px;
    line-height: 1.7;
    color: getColor('secondary-color-text');
}