.section-contacts{
    background-color: getColor('accent-color-main');
    padding-bottom: 60px;

    @media screen and (min-width: 768px){
        padding-bottom: 40px;
    }
}

.section-contacts__block-item{
    position: relative;
    top: -360px;
    margin-bottom: -336px;

    @media screen and (min-width: 768px){
        display: flex;
        top: -280px;
        margin-bottom: -240px;
    }
}

.section-contacts__item{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;

    background-color: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

    font-size: 12px;
    font-weight: 500;

    &:not(:last-child){
        margin-bottom: 16px;

        @media screen and (min-width: 768px){
            margin-bottom: 0;
            margin-right: 16px;
        }
    }

    & p{
        margin-top: 0;
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px){
        padding-bottom: 40px;
    }
}

.section-contacts__category{
    display: inline-block;
    padding: 4px 22px;
    margin-bottom: 20px;
    border-radius: 4px;

    line-height: 1.2;
    text-transform: uppercase;

    background-color: getColor('accent-color-secondary');

    @media screen and (min-width: 768px){
        margin-bottom: 32px;
    }
}

.section-contacts__city{
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.86;

    @media screen and (min-width: 768px){
        margin-bottom: 12px;
    }
}

.section-contacts__address{
    padding-bottom: 24px;
    border-bottom: 1px solid #E1E1E1;

    @media screen and (min-width: 768px){
        width: 155px;
        padding-bottom: 32px;
    }
}

.section-contacts__link-address{
    line-height: 1.83;
    color: #D6936D;
}

.section-contacts__work-time{
    margin-top: 24px;
    margin-bottom: 24px;

    @media screen and (min-width: 768px){
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

.section-contacts__day{
    line-height: 1.86;
}

.section-contacts__hour{
    line-height: 1.86;
    color: #ABABAB;

    &:not(:last-child){
        margin-bottom: 8px;
    }
}

.section-contacts__phone{
    border-top: 1px solid #E1E1E1;
    padding-top: 24px;

    @media screen and (min-width: 768px){
        padding-top: 32px;
    }
}

.section-contacts__link-mail,
.section-contacts__link-phone{
    color: getColor('main-color-text');
    text-decoration: none;
    line-height: 1.6;
}

.section-contacts__link-mail{
    padding-bottom: 6px;
}

.section-contacts__block-btn{

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.contacts-btn-location{
    margin-left: auto;
    margin-right: auto;
    width: 196px;

    &:not(:last-child){
        margin-bottom: 16px;

        @media screen and (min-width: 768px) {
        margin-bottom: 0;
        }
    }

    &:hover{
        cursor: pointer;
        background-color: #0A8817;
    }

    &:focus{
        background-color: #0A8817;
        color: #FCFCFC;
    }

    &:focus .mobile-menu-btn__svg{
        fill: #FCFCFC;
    }

    @media screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: 8px;
    }
}

.contacts-btn-franchise{
    margin-left: auto;
    margin-right: auto;
    width: 196px;
    background-color: transparent;
    border: 2px solid getColor('accent-color-secondary');

    &:hover{
        cursor: pointer;
        border: 2px solid #0A8817;
    }

    &:focus{
        border: 2px solid #0A8817;
        color: #FCFCFC;
    }

    &:focus .mobile-menu-btn__svg{
        fill: #FCFCFC;
    }

    @media screen and (min-width: 768px) {
        margin-left: 8px;
        margin-right: auto;
    }
}
