.section-header-hero{
    position: relative;

    background-color: getColor('accent-color-main');

    @media screen and (max-width: 450px) {
        min-height: 502px;
    }

    @media screen and (min-width: 451px) and (max-width: 768px) {
        min-height: 415px;
    }
    
}

.container__navigation{
    display: flex;
}

.logo{
    display: inline-block;
    width: 48px;
    height: 44px;
    margin-top: 14px;

    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        margin-top: 20px;
    }
}

.navigation{
    margin-left: auto;
    margin-right: auto;
}

.block-nav {

    @media screen and (max-width: 1000px) {
        display: none;
    }

    @media screen and (min-width: 1001px) {
        display: block;
    }

}

.block-nav__item{
    display: flex;
    margin-top: 20px;
}

.navigation__item:not(:last-child){
    margin-right: 28px;
}

.navigation__desktop-nav{
    display: flex;
    align-items: center;
    height: 44px;

    color: #FCFCFC;
    font-size: 16px;
    font-weight: 700;

    &:hover{
        color: #F8D24E;
        cursor: pointer;
    }
}

