.modal-window--franchise{
    top: 50%;
    border-radius: 10px;
    transform: translateY(-50%);

    @media screen and (max-height:713px) {
        height: 100%;
        border-radius: 0;
    }
}

.modal-window__franchise-title{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 224px;

    font-family: $dicoration-font-family;
    font-size: 16px;
    line-height: 1.5;
}

.modal-window__franchise-text{
    width: 224px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 24px;

    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    color: #131313;
}

.form-modal-franchise__input,
.form-modal-franchise__comment {
    display: flex;
    width: 224px;
    height: 32px;
    padding: 8px 12px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #84A178;
    border-radius: 10px;

    background: rgba(248, 210, 78, 0.1);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 12px;
    line-height: 1.4;

    &:hover,
    &:focus {
        cursor: pointer;
        border: 1px solid #2196F3;
        outline: none;

        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.form-modal-franchise__input{
    margin-bottom: 12px;
}

.form-modal-franchise__comment{
    margin-bottom: 24px;
    height: 65px;
    resize: none
}

input:invalid {
    background-color: #fcbeae;
}

.form-modal-franchise__btn{
    width: 114px;
    margin-left: auto;
    margin-right: auto;

    font-size: 12px;
    line-height: 1.25;
}