.modal-window--location{
    top: 50%;
    transform: translateY(-50%);
}

.modal-window__location-title{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 20px;

    font-family: $dicoration-font-family;
    font-size: 16px;
    line-height: 1.5;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;

        font-size: 20px;
    }
}

.modal-window__location-map{
    width: 224px;
    height: 199px;
    border-radius: 10px;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        width: 448px;
        height: 260px;
        margin-bottom: 32px;
    }
}

.modal-window__location-link{
    display: block;
    width: 134px;
    margin-left: auto;
    margin-right: auto;

}

.modal-window__location-btn{
    width: 134px;
    
    font-size: 12px;
    line-height: 1.25;
}