.modal-window--location{
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
}

.modal-window__location-title{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 20px;

    font-family: $dicoration-font-family;
    font-size: 16px;
    line-height: 1.5;
}

.modal-window__location-map{
    width: 224px;
    height: 199px;
    border-radius: 10px;
    margin-bottom: 24px;
}

.modal-window__location-link{
    display: block;
    width: 134px;
    margin-left: auto;
    margin-right: auto;

}

.modal-window__location-btn{
    width: 134px;
    
    font-size: 12px;
    line-height: 1.25;
}