body {
    background-repeat: repeat-y;
    background-size: contain;
    background-attachment: fixed;

    font-family: $main-font-family, $secondary-font-family;
    font-size: $main-font-size;
    letter-spacing: $main-letter-spacing;

    @media screen and (max-width: 480px) {
        background-image: url("../../images/background/bg_mobile.jpg");
        
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        background-image: url("../../images/background/bg_tablet.jpg");
    }

    @media screen and (min-width: 769px) {
        background-image: url("../../images/background/bg_desktop.jpg");
    }
    
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    body{

        @media screen and (max-width: 480px) {
            background-image: url("../../images/background/bg_mobile@2x.jpg");
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            background-image: url("../../images/background/bg_tablet@2x.jpg");
        }

        @media screen and (min-width: 769px) {
            background-image: url("../../images/background/bg_desktop@2x.jpg");
        }
    }
}

.backdrop-mobile.is-hidden-modal-header,
.backdrop-mobile.is-hidden-modal-about,
.backdrop-mobile.is-hidden-modal-product,
.backdrop-mobile.is-hidden-modal-franchise,
.backdrop-mobile.is-hidden-modal-location {
    pointer-events: none;
    opacity: 0;
}

.backdrop-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100vw;
    height: 100vh;

    opacity: 1;
    overflow-y: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: rgba(0, 0, 0, 0.2);
}

.modal-window{
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 28px;
    overflow-y: scroll;
    border: 2px solid #F8D24E;
    border-radius: 10px;

    background-color: #FFFFFF;

    @media screen and (min-width: 768px) {
        width: 568px;
        margin-left: auto;
        margin-right: auto;
    }
}

body.is-open-modal-header,
body.is-open-modal-product,
body.is-open-modal-about,
body.is-open-modal-location,
body.is-open-modal-franchise{
    height: 100vh;
    overflow: hidden;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.list {
    list-style-type: none;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 42px;
    border: none;
    border-radius: 10px;

    background-color: getColor('accent-color-secondary');

    font-weight: 600;
}

.btn-close-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;

    background-color: white;
}

.btn-close-moda__icon{
    width: 20px;
    height: 20px;
    fill: #000000;
}

.btn-long-arrow{
    position: absolute;
    bottom: 0;
    width: 56px;
    height: 22px;
    border: none;

    background-color: transparent;

    &--margin-bottom-hero{
        margin-bottom: 32px;
        margin-left: 176px;
    }

    &--margin-bottom-product{
        margin-bottom: 16px;
    }

    &:hover,
    &:focus{
        cursor: pointer;
    }
}

.btn-long-arrow__svg{
    width: 40px;
    height: 16px;

    &--color{
        fill: #FFFFFF;
    }
}